<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title> Livros emprestados </title>
<link rel="stylesheet" th:href="@{css/style.css}">
<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css}"


</head>
<body>
	
	
	<header>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars fa-2x menu"></i>
    </label>
      <nav>
        <ul>
            <li id="logo"> <i class="fas fa-anchor logo"></i> <a href="index.html"> LOGO </a>  </li>
            <li><i class="fas fa-book-reader"></i><a th:href="@{/lidos}"> Livros lidos  </a> </li>
			<li> <i class="fas fa-book"></i> <a th:href="@{/proximas}"> Próximas leituras </a> </li>
			<li><i class="far fa-bookmark"></i> <a th:href="@{/lista-desejos}"> Lista de desejos  </a> </li>
			<li> <i class="fas fa-book-open"></i> <a th:href="@{/emprestados}"> Emprestados </a> </li>

        </ul>
        </nav>
  </header>
	
	<section>
		<div class="titulo">
			<h1> Página em construção </h1>
		</div>
		
	
	</section>
	
	
	<ul>
		
		
	
	</ul>


</body>
</html>