<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title> Livros emprestados </title>
<link rel="stylesheet" th:href="@{css/style.css}">
<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css}">
<link rel="icon" th:href="@{img/icone-astronauta.png}">
<script th:src="@{js/script.js}"></script>

</head>
<body>
	
	
	<header>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars fa-2x menu"></i>
    </label>
      <nav>
        <ul>
          
           <li id="logo"> <a th:href="@{/}"> <img th:src=@{img/logo-livronauta.png} class="logo"> </a>  </li>
            <li><i class="fas fa-home"></i><a th:href="@{/}"> Home </a> </li>
            <li><i class="fas fa-book-reader"></i><a th:href="@{/livros-lidos}"> Livros lidos  </a> </li>
			<li> <i class="fas fa-book"></i> <a th:href="@{/proximas-leituras}"> Próximas leituras </a> </li>
			<li><i class="far fa-bookmark"></i> <a th:href="@{/lista-desejos}"> Lista de desejos  </a> </li>
			<li> <i class="fas fa-book-open"></i> <a th:href="@{/emprestados}"> Emprestados </a> </li>

        </ul>
        </nav>
  </header>
	
	 <section id="banner">
        <div class="banner">
            <div class="imagem-banner">
                <img th:src=@{img/icone-cadastrar-emprestimo.png} class="imagem-astronauta">
            </div>
            <div class="texto">
                <p> Cadastre seus  livros  <br> que foram emprestados </p>
                <div class="botao">
                    <a th:href="@{emprestimo}" class="cadastro">  Cadastre aqui  </a> 
                </div>
            </div>
        </div>
    </section>
    
    <section id="tabela">
        <h1> Livros emprestados </h1>
        <div class="tabela">
            <table>
                <tr>
                    <th> Livro </th>
                    <th> Autor </th>
                    <th> Gênero </th>
                    <th> Para quem emprestou </th>
                    <th> Dia do Empréstimo </th>
                    <th> Editar </th>
                    <th> Excluir </th>
                </tr>

              
               <tr th:each="emprest : ${emprestar}">
                    <td th:text="${emprest.livro}"> </td>
                    <td th:text="${emprest.autor}"></td>
                    <td th:text="${emprest.genero}"> </td>
                    <td th:text="${emprest.pessoa}"> </td>
                    <td th:text="${emprest.data}"> </td>
                
                    
                    <td> 
                    
                    	<a th:href="@{'updemp/' + ${emprest.id}}">
                   		 	<i class="far fa-edit icone-tabela"></i> 
                   		</a>
                    </td>


					<td>
						<form th:action="@{'apagar-emprestimo/' + ${emprest.id}}" method=post>
		       
		                  <button type="submit" value="" class="btn-acoes">
		                  	<i class="fas fa-trash icone-tabela">  </i>
		                  </button>
		           
						</form>
					</td>
						                   
               </tr>
     
            </table>
        </div>
    </section>


	 <!-- Formulário -->

      
    <footer>
       <img th:src=@{img/logo-livronauta.png} class="logo-rodape">
    </footer>
    
    
    
	



</body>
</html>