 <!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title> Sucesso!!! </title>
<link rel="stylesheet" th:href="@{css/style.css}">
<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css}">
<link rel="icon" th:href="@{img/icone-astronauta.png}">

</head>
 
 
   <body>
   
   <section id="banner">
        <div class="banner">
            <div class="imagem-banner">
                <img th:src=@{img/icone-cadastrar-lidos.png} class="imagem-astronauta">
            </div>
            <div class="texto">
                <p> Cadastre suas próximas <br> leituras </p>
                <div class="botao">
                    <a th:href="@{proximas}" class="cadastro">  Cadastre aqui  </a> 
                </div>
            </div>
        </div>
    </section>
	
	
<section id="tabela">
        <h1> Próximas Leituras </h1>
        <div class="tabela">
            <table>
                <tr>
                    <th> Livro </th>
                    <th> Autor </th>
                    <th> Gênero </th>
                    <th> Editar </th>
                    <th> Excluir </th>
                </tr>
                
                <tr>
                	<td> </td>
                	<td> </td>
                	<td> </td>
                	<td> </td>
                	<td> </td>
                </tr>

     
            </table>
        </div>
    </section>
   
   <div id="modal-sucesso" class="modal-container">
        <div class="modalpopup">
            <div class="topo-form">
                <h1> Sucesso!!! </h1>
            </div>
            <div class="sucesso">
               <img th:src=@{img/icone-sucesso.png} alt="astronauta comemorando">
                <h1> Dados salvos com sucesso !!</h1>
                <div class="btn-ok">
                    <a th:href="@{livros-lidos}" class="ok"> OK </a>
                </div>
                
            </div>
        </div>
    </div>
    
      <footer>
       <img th:src=@{img/logo-livronauta.png} class="logo-rodape">
    </footer>
 
 
   </body>
 </html>
        
        